
/* Global Styles */
html {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.tertia-text {
  font-size: 1.285rem;
}

.normal-text {
  font-size: 1rem;
}

.petite-text {
  font-size: 0.85rem;
}

/* Card Styles */
.card {
  margin-top: 1.5rem;
  margin-bottom: 0;
  border-radius: 3px;
}

.card figure {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .card-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -20%);
  transition: all 200ms ease;
}

.card figure:hover .card-actions {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.card-section .fa {
  margin-right: 10px;
}

.card .list-price-strike {
  color: #cc4b37;
}

.card-actions .button {
  border-radius: 3px;
}

.card.is-in-cart {
  position: relative;
  overflow: visible;
  border: 2px solid #1779ba;
}

.card.is-in-cart::before,
.card.is-in-cart::after{
  position: absolute;
  top: 0;
  right: 0;
}
.card.is-in-cart::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #1779ba;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.card.is-in-cart::after {
  content: "\f07a";
  color: white;
  font-family: FontAwesome;
  transform: translate(50%, -50%);
}

.card.is-in-cart .card-actions .success {
  display: none;
}

/* Cart Styles */
.off-canvas {
  transition: transform 300ms ease;
}

.cart {
  width: 350px;
  padding: 0;
  -webkit-transform: translateX(350px);
  transform: translateX(350px);
}

.cart-header,
.cart-content {
  padding: 1rem 2rem;
}

.cart-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #333;
  color: white;
}

.cart-content {
  max-height: 100%;
  padding-top: 90px;
  overflow: scroll;
}

.cart-item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid #c3c3c3;
}

.cart-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.cart-item .media-object {
  margin-bottom: 0;
}

.cart-item img {
  width: 60px;
}

.cart-button {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.remove-item-button {
  padding: 5px 8px 7px !important;
  position: absolute;
  top: 50%;
  right: 0;
  background: #eb3a3e;
  border-radius: 3px;
  color: white;
  line-height: 0.9em;
  font-weight: bold;
  transform: translateY(-50%);
}

.remove-item-button:hover {
  color: white;
  background: #d03639;
}

/* Switch Styles */
.switch.tiny {
  margin-top: 0.5rem;
}

.switch .switch-paddle {
  margin-right: 0.5rem;
}

.switch-inline-label {
  color: black;
  display: inline-flex;
  vertical-align: top;
  font-weight: 400;
}

/* Modals */
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0.9);
  opacity: 0;
  transition: opacity 500ms ease;
  z-index: -500;
}

.modal-container.is-showing {
  opacity: 1;
  z-index: 50;
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  z-index: -500;
}

.checkout-modal {
  width: 40rem;
}

.confirm-modal {
  max-width: 28.5rem;
}

.preview-modal {
  width: 40rem;
}

.modal.is-showing {
  opacity: 1;
  z-index: 100;
}

.modal .button-group button:first-of-type {
  margin-right: 1rem;
}
